.card {
    border-radius: 10px;
    background-color: #290145;
    color:white;
}

.large20 {
    width: 20%;
}

.ligne {
    display: flex;
    justify-content: space-between;
}

h4 {
    text-align:center;
}